/* From: https://fontlibrary.org/en/font/comic-relief */
@font-face {
  font-family: 'ComicReliefBold';
  src: url('ComicReliefBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ComicReliefRegular';
  src: url('ComicReliefRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* From: https://fontlibrary.org/en/font/saarland */
@font-face {
  font-family: 'SaarlandMedium';
  src: url('SaarlandMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: 'SaarlandMedium', sans-serif;
  user-select: none;
}


.speech-baloon {
  font-family: 'ComicReliefRegular';
}
